*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.radix-themes {
}

.App {
    width: 100vw;
    height: 100vh;
}


.Animations_shaking {
    animation: tilt-shaking 0.35s normal forwards;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(0eg);
    }
    37.5% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    62.5% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(0deg);
    }
    87.5% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
